body{
	
font-family: "Helvetica", "Arial", fantasy;
	
color: #E9967A;
	background-color: #F08080;
	
text-shadow: 1px 1px #E9967A;
	text-align: center;

}



h1 {
	
font-size: 1.3em;
	
text-align: center;
	
text-shadow: 1px 1px #E9967A;

}


td, th {
    
border: 1px solid #FA8072;
    
text-align: left;
    
padding: 8px;

}



tr:nth-child(even) {
    
background-color: #FF5733;

}